*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background:rgba(0, 0, 0, 0.8) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.model-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    width: 450px;
    max-width: 1000px;
  }
  .create{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.3;
  }
  .create:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,0 0 50px orangered;
    transform: scale(1.1);
  }
  .signup-container .signup-form input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: black;
    background: rgb(247, 247, 247);
    border-radius: 8rem;
    margin: 1rem 0;
    resize:none;

  }
  
  .signup-form {
    margin-bottom: 15px;
    height: 12vh;
    z-index: 100;
  }
  
  .signup-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .signup-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.1 ease;
  }
  .signup-form input:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
  }
  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
  }
  
  .modal-footer button {
    padding: 10px 28px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 600;
    transition: 0.3 ease;
  }
  
  .modal-footer button:hover {
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
  }
.modal-backdrop {
    position:relative;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,0 0 50px orangered;
    transform: scale(1.1);
}
.btn:hover{
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: none;
}
span {
    color: orangered;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}
.btn-primary span{
    color: rgb(0, 0, 0);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}
.navbar a:hover,
.navbar a.css{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 28px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 600;
    transition: 0.3 ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100px;
    min-height: 100vh;
    background: whitesmoke;
    display: flex;
    align-items: centre;
    gap: 20em;
    padding: 190px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 25px;
}
.home-content h1{
    font-size: 42px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: orangered;
}
.img-box img{
    border-radius: 50%;
    width: 550px;
    box-shadow: 0 0 25px orangered;
    transition: 0.3;
}
.img-box img:hover{
    box-shadow: 0 0 50px orangered;
    transform: scale(1.05);
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: centre;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px orangered, 0 0 50px orangered;
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    color: white;
    font-size: 62px;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}
.contact-form h2{
    text-align: center;
    margin: 2em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: 1rem 0;
    resize:none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3 ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

